:root {
  --spacing: 1rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
}

.article {
  margin: var(--block-spacing-vertical) 0;
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
}

.hgroup {
  margin-bottom: 0;
}

.header,
.footer {
  padding: calc(var(--block-spacing-vertical) * 0.25)
    calc(var(--block-spacing-horizontal) * 0.35);
}

.header {
  margin-bottom: 0;
}

.footer {
  margin-top: 0;
}

.img {
  margin: 0 calc(var(--block-spacing-horizontal) * -1);
  max-width: -webkit-fill-available;
}


